<%= simple_form_for [@showing] do |f| %>
    <%= f.input :time, :as => :datetime %>
    <%= f.association :auditorium %>
    <%= f.association :movie %>
    <%= f.button :submit, class:"btn btn-primary" %>
    </div>
<% end%>