<%= simple_form_for [@showing] do |f| %>
    <%= f.input :time, :as => :datetime %>
    <%= f.input :auditorium_id, as: :select, collection: @auditoriums, prompt: 'Select Auditorium'%>
    <%= f.input :movie_id, as: :select, collection: @movies, prompt: 'Select Movie'%>
    <%= f.button :submit, class:"btn btn-primary" %>
    </div>
<% end%>