<h1>Admin page</h1>

<h3>Auditoriums</h3>
<ul class="cards col-xs-12 col-lg-6">
   <% @auditoriums.each do |aud| %> 
    <li class='card'>
        <%# image url to be added%>
        <div class='card-title' style="font-size: 18pt;"><%= aud.name %></div>
        <div class='card-body'>
        <div>
        Capacity: <%= aud.capacity %>
        <%= simple_form_for aud, html: {style:"display: none;"} do |f| %>
            <%= f.input :capacity %>
            <%= f.button :submit, class: 'btn btn-primary' %>
        <% end %>
        <%= link_to "Update Capacity", "", class: 'hide capacity-form-toggle', key:aud.id, data: {'js-hide-link' => true} %>
        </div>

        <div><b>Showings:</b> 
            <ul>
                <% aud.showings.each do |showing| %>
                    <li>
                        <div><%= showing.datetime %></div>
                        <div><%= showing.movie.title %></div>
                        <div>Number Orders: <%= showing.orders.length %></div>
                    </li>
                    <div class="btn-group">
                        <%= link_to "See Orders", showing_orders_path(showing), class:"btn btn-outline-primary btn-sm" %>
                        <%= link_to "Edit Showing", edit_showing_path(showing), class:"btn btn-outline-warning btn-sm" %>
                    </div>
                <% end%>
            </ul>
        </div>
        </div>
        <%# seats available: %>
    </li>
   <% end%>
</ul>
<div class="btn-group">
    <%= link_to "Add Auditorium", new_auditorium_path, class:"btn btn-outline-primary btn-sm" %>
    <%= link_to "Add Showing", new_showing_path, class:"btn btn-outline-primary btn-sm" %>
</div>
